#projects {
    display: block;
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    height: auto;
    min-height: 100vh;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    /* margin-top: 20%; */
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    left: 5%;
    cursor: url(../../assets/arrowhead-rounded-outline.png), auto;
}

article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #EAE0C9;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  cursor: url(../../assets/arrowhead-rounded-outline.png), auto;
}
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

.project-name {
  margin: 0 0 -5px 0;
  font-family: "Poppins", cursive;
  font-size: 1.9rem;
  /* letter-spacing: 0.06em; */
  color: var(--title-color);
  transition: color 0.3s ease-out;
  cursor: url(../../assets/arrowhead-rounded-outline.png), auto;
}

.description {
  margin: 12px 0;
  cursor: url(../../assets/arrowhead-rounded-outline.png), auto;
}

article a {
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
  cursor: url(../../assets/arrowhead-rounded-outline.png), auto;
}
article a:focus {
  outline: 1px dotted #28666e;
  cursor: url(../../assets/arrowhead-rounded-outline.png), auto;
}
article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  content: "";
  cursor: url(../../assets/arrowhead-rounded-outline.png), auto;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.skill {
    display: inline-block;
    border-radius: 10px;
    margin: 2px; 
    border: 3px solid;
    padding: 2px 5px;
    width: fit-content;
    white-space: nowrap;
    font-weight: 600;
}

.projects-donut {
    position: absolute;
    left: -15%;
}

@media (max-width: 1560px) {
    .project-grid {
        margin-top: 2em;
        left: -1em;
    }
}