#landing {
    background-color: transparent;
    overflow: hidden;
    height: 100vh;
}

.audio-play-pause {
    position: absolute;
    /* margin-top: 0.5em; */
    top: 1em;
    right: 1em;
    width: 7em;
    height: auto;
    z-index: 2;
    user-select: none;
    pointer-events: auto;
    opacity: 0.2;
    cursor: pointer;
}
.audio-play-pause:hover {
    opacity: 0.4;
}

.audio-volume-slider {
  position: absolute;
  top: 5.5em;
  right: 1.25em;
  width: 8em;
  z-index: 2;
  user-select: none;
  pointer-events: auto;
  cursor: pointer;

  -webkit-appearance: none;
  appearance: none;
  background: transparent; /* don't fill entire control */
  opacity: 0.2;
  accent-color: #ffffff;
}
.audio-volume-slider:hover {
    opacity: 0.4;
}


/* thin white track (WebKit) */
.audio-volume-slider::-webkit-slider-runnable-track {
  height: 2px;                        /* thin line */
  background: rgba(255,255,255,0.9);
  border-radius: 999px;
}

/* white circular thumb (WebKit) */
.audio-volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ffffff;
  border: none;
  box-shadow: none;
  margin-top: -6px; /* center thumb on 2px track: -(thumbHeight - trackHeight)/2 */
}

/* thin white track (Firefox) */
.audio-volume-slider::-moz-range-track {
  height: 2px;
  background: rgba(255,255,255,0.9);
  border-radius: 999px;
}

/* white circular thumb (Firefox) */
.audio-volume-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ffffff;
  border: none;
  box-shadow: none;
}

/* remove default focus outline if desired */
.audio-volume-slider:focus {
  outline: none;
}

.name {
    color: #faf6e6;
    font-family: "Poppins";
    font-size: 5.625em;
    font-weight: 700;
    left: 11%;
    letter-spacing: -6.2px;
    line-height: normal;
    position: relative;
    text-shadow: 0px 4px 4px #00000040;
    bottom: 45%;
    white-space: nowrap;
}

.subtitle {
    color: #c3c3a1;
    font-family: "Albert Sans-BoldItalic", sans-serif;
    font-size: 1.4em;
    font-style: italic;
    font-weight: 700;
    left: 44%;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-shadow: 0px 4px 4px #00000040;
    /*top: 40%;*/
    bottom: 31%;
    white-space: nowrap;
    user-select: none;
}

.underline-bar {
    width: 619px;
    height: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: 11%;
    bottom: 59.5%;
}

.rings {
    opacity: 0.3;
    position: relative;
    top: 5.5%;
    left: 4.5%;
    user-select: none;
    pointer-events: none;
}

.menu-options {
    color: #faf6e6;
    font-family: "Poppins";
    font-size: 3.375em;
    font-weight: 700;
    left: 15%;
    line-height: normal;
    position: relative;
    text-shadow: 0px 4px 4px #00000040;
    width: fit-content;
    user-select: none;
}
.menu-options:hover {
    color: #c3c3a1;
}

.down-arrow {
    position: absolute;
    bottom: 0%;
}

#tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.landing-donut {
    position: absolute;
    top: -100%;
    left: 50%;
    opacity: 0.15;
}

.landing-container {
    display: flex;
    flex-direction: row;
    width: 60%;
    gap: 200px;
    left: -6%;
    top: 12%;
    position: relative;
    justify-content: center;
}