#about {
    display: block;
    width: 100%;
    padding: 5% 0;
    overflow: visible;
    height: 90vh;
    padding-bottom: 0%;
}

i {
    font-family: "Ms Madi", cursive;
    font-size: 1.9em;
    line-height: 0.75;
    color: black;
}

.vertical-line {
    background-color: #B2653B;
    height: 6em;
    width: 0.2em;
    position: absolute;
    left: -0.5em;
}

.about-me-text {
    font-size: 1.25em;
    color: black;
    position: relative;
    margin-left: 1em;
    flex: 69;
}
#hello {    /*Hello World font is different so needs special spacing*/
    padding-right: 0.5em;
}

.about-me-sub-text {
    font-size: 1.25em;
    color: black;
    position: relative;
    margin-left: 3em;
    text-indent:-2em;
    max-width: 91%;
    padding: 1em 0 0.5em;
}
.about-me-sub-text:hover {
    transform: scale(1.01);
}

.arrow-list {
    list-style: none;
    padding-left: 1.5em;
    margin: 0 0;
}

.list-chevron {
    width: 1em;
}

.arrow-list li {
    color: #222;
    white-space: normal;
    padding-left: 0;
}
.arrow-list li::before {
    content: "↳";
    margin-right: 0.5em;
    color: #222;
    font-weight: bold;
}

.logo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 0px;
    padding: 20px;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    transition: transform 0.5s ease-in-out;
    user-select: none;
}
.logo.active {
    transform: scale(1.1);
}
.logo:hover {
    transform: scale(1.1);
}

i.signature {
    user-select: none;
    position: absolute;
    margin-top: 0.5em;
    margin-left: 14%;
    font-size: 4em;
}

.link-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    gap: 50px;
    margin-top: 8em;
}
.link-bar img {
    user-select: none;
    width: 3em; 
    height: 3em;
}
.link-bar img:hover {
    transform: scale(1.1);
}

.resume-btn {
    background-color: #333333;
    color: #faf6e6;
    font-size: 1.25em;
    font-weight: 700;
    padding: 10px 20px;
    text-decoration: none;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    user-select: none;
}
.resume-btn:hover {
    border-left: 9px solid #B2653B;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 100px;
    margin-top: 1%;
    width: 80%;
    height: 80%;
    margin-left: 14%;
}

.about-me-text-container {
    flex: 60;
}

.logo-grid-container {
    flex: 31;
}

@media (max-width: 1560px) {
    .about-container {
        margin-left: 5%;
        gap: 100px;
        width: 85%;
        margin-top: 2.5em;
    }
    .about-me-text-container {
        flex: 70;
        width: 200px;
    }
    .about-me-text {
        padding-top: 1em;
    }
    .about-me-sub-text {
        padding-top: 0.75em;
        padding-bottom: 0.75em;
    }
    .logo-grid-container {
        flex: 40;
    }
}   
@media (max-height: 860px) {
    #about {
        min-height: 100vh;
    }
}
@media (max-height: 770px) {
    #about {
        min-height: 110vh;
    }
}
@media (max-height: 700px) {
    #about {
        min-height: 120vh;
    }
}
@media (max-height: 640px) {
    #about {
        min-height: 130vh;
    }
}
@media (max-height: 590px) {
    #about {
        min-height: 140vh;
    }
}
@media (max-height: 550px) {
    #about {
        min-height: 150vh;
    }
}
@media (max-height: 510px) {
    #about {
        min-height: 160vh;
    }
}
@media (max-height: 480px) {
    #about {
        min-height: 170vh;
    }
}

@media (max-width: 1553px) {
    .vertical-line {
        height: 6em;
    }
}