.about-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 100px;
    margin-top: 1%;
    width: 80%;
    height: 80%;
    margin-left: 14%;
}

.about-me-text-container {
    flex: 60;
}

/* Summary */
.about-me-text {
    font-size: 1.25em;
    color: black;
    position: relative;
    margin-left: 1em;
    flex: 69;
}

/* Bullet points (Currently/Accomplishments) */
.about-me-sub-text {
    font-size: 1.25em;
    color: black;
    position: relative;
    margin-left: 3em;
    /* padding-left: 6em; */
    text-indent:-2em;
    max-width: 91%;
}
.about-me-sub-text:hover {
    transform: scale(1.01);
}

/* The circle on the left side */
.circle {
    height: 20em;
    width: 20em;
    background-color: #B2653B;
    border-radius: 50%;
    position: absolute;
    display: block;
    margin-top: 14em;
    margin-left: -3.5em;
}

/* Signature */
i {
    font-family: "Ms Madi", cursive;
    font-size: 1.9em;
    line-height: 0.75;
    color: black;
}

.about-me-logo-grid {
    flex: 31;
}

.logo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 0px;
    padding: 20px;
    /*justify-content: center;  Centers the grid */
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    transition: transform 0.5s ease-in-out;
    user-select: none;
}
.logo.active {
    transform: scale(1.1);
}
.logo:hover {
    transform: scale(1.1);
}

/* Email, Linkedin, GitHub Icons */
.link-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: relative;*/
    top: 35%;
    /*right: 31%;*/
    height: 10%;
    gap: 50px;
}
.link-bar img {
    user-select: none;
}
.link-bar img:hover {
    transform: scale(1.1);
}

.logo-container img {
    user-select: none;
}
.logo-container img:hover {
    transform: scale(1.1);
}

p img {
    padding-right: 0.3em;
}

/* Resume Button */
.link-btn {
    background-color: #333333;
    color: #faf6e6;
    font-size: 1.25em;
    font-weight: 700;
    padding: 10px 20px;
    text-decoration: none;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    user-select: none;
}

.link-link {
    text-decoration: underline;
}

.link-btn:hover {
    border-left: 9px solid #B2653B;
}

.line {
    background-color: #B2653B;
    width: 6em;
    height: 0.2em;
    position: absolute;
    left: 5%;
}

.vert-line {
    background-color: #B2653B;
    height: 6em;
    width: 0.2em;
    position: absolute;
    left: -0.5em;
}

@media (max-width: 1553px) {
    .vert-line {
        height: 7.5em;
    }
}

@media (max-width: 1786px) {
    .circle {
        margin-left: -5em;
    }
}

#about {
    display: block;
    width: 100%;
    padding: 5% 0;
    overflow: visible;
    height: 90vh;
    padding-bottom: 0%;
}

@media (max-height: 860px) {
    #about {
        min-height: 100vh;
    }
}
@media (max-height: 770px) {
    #about {
        min-height: 110vh;
    }
}
@media (max-height: 700px) {
    #about {
        min-height: 120vh;
    }
}
@media (max-height: 640px) {
    #about {
        min-height: 130vh;
    }
}
@media (max-height: 590px) {
    #about {
        min-height: 140vh;
    }
}
@media (max-height: 550px) {
    #about {
        min-height: 150vh;
    }
}
@media (max-height: 510px) {
    #about {
        min-height: 160vh;
    }
}
@media (max-height: 480px) {
    #about {
        min-height: 170vh;
    }
}