.job-container {
    position: relative;
    padding-top: 0;
    left: 20%;
    /* transform: translate(-50%, 0); */
    width: 35%;
}

.job {
    height: 20%;
    word-wrap: break-word;
    border: black 1px solid;
}

h2, h3, h4, p {
    color: black;
}

.date {
    color: black;
}

.job-detail-list {
    margin-top: 0.5em;
    margin-bottom: -1.5em;
    padding-left: 1.2em;
    color: black;
}

ul.job-detail-list li {
    margin-bottom: 0.5em;
}

@media (max-width: 1560px) {
    .job-container {
        margin-top: 7em;
        left: 48%;
    }
}