#experience {
    display: block;
    width: 100%;
    padding: 20px 0;
    overflow: visible;
    height: 100%;
    min-height: 100vh;
}

.experience-donut {
    position: absolute;
    left: 70%;
    top: 10%;
}

.job-container {
    position: relative;
    padding-top: 0;
    left: 20%;
    /* transform: translate(-50%, 0); */
    width: 35%;
    min-width: 400px; /* Ensure minimum width for content */
}

.vertical-timeline-element-title {
    display: inline;
    margin-right: 10px;
    float: left;
}

.vertical-timeline-element-subtitle {
    display: block;
    clear: both;
}

.vertical-timeline-element-image {
    width: 101%;
    object-fit: cover;
    object-position: 0 0;
    position: absolute;
    top: 0;
    left: 115%;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: height 0.2s ease-out; /* Smooth height transitions */
}

/* .job {
    height: 20%;
    word-wrap: break-word;
    border: black 1px solid;
} */

h2, h3, h4, p {
    color: black;
}

.date {
    color: black;
}

.icon {
    width: 100%;
    height: 100%;
    user-select: none;
}

.job-detail-list {
    margin-top: 0.5em;
    margin-bottom: -1.5em;
    padding-left: 1.2em;
    color: black;
}

ul.job-detail-list li {
    margin-bottom: 0.5em;
}


@media (max-width: 1200px) {
    .job-container {
        left: 10%;
        width: 45%;
        min-width: 350px;
    }
    
    .vertical-timeline-element-image {
        left: 110%; /* Adjust image position for smaller screens */
    }
}

@media (max-width: 1560px) {
    .job-container {
        margin-top: 1em;
        width: 100%;
        left: 0;
        min-width: unset;
    }
    
    .vertical-timeline-element-image {
        position: relative;
        left: 0;
        width: 100%;
        margin-top: 2em;
    }
}