.job-container {
    position: relative;
    padding-top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.job {
    height: 20%;
    word-wrap: break-word;
    border: black 1px solid;
}

h2, h3, h4, p {
    color: black;
}

.date {
    color: black;
}

@media (max-width: 1560px) {
    .job-container {
        margin-top: 7em;
        left: 48%;
    }
}