@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi');

.particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #181818;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    overflow-x: hidden;

    cursor: url(./assets/arrowhead-rounded-outline.png), auto;
}

/**************************
* Dot Navigation Bar
**************************/
.dot-nav {
    position: fixed;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    cursor: url(./assets/arrowhead-rounded-outline.png), auto !important;
}

.dot-nav .dot {
    width: 8px;
    height: 8px;
    border: 1px solid #121212;
    border-radius: 50%;
    background: transparent;
    margin: 10px 0;
    transition: 0.4s, transform 0.4s;
    padding: 0;
    cursor: url(./assets/arrowhead-rounded-outline.png), auto !important;
}

.dot-nav .dot.active {
    background: #121212;
    transform: scale(1.2);
    cursor: url(./assets/arrowhead-rounded-outline.png), auto !important;
}

/**************************
* Universal Styles
**************************/
.white-bg {
    width: 100%;
    opacity: 1;
    position: relative;

    /* Boxed X pattern */
    --s: 160px;
    --c1: #f5eddd;
    --c2: #f5eddd;
    --c3: #f5eddd;
    --c4: #f5eddd;
    --c5: #F1EAD9;
    
    --_g: var(--c1) 25%,var(--c2) 0 50%,#0000 0;
    --_l1: var(--c5) 0 1px,#0000 0 calc(25% - 1px),var(--c5) 0 25%;
    --_l2: var(--c5) 0 1px,#0000 0 calc(50% - 1px),var(--c5) 0 50%;

    background:
        repeating-linear-gradient( 45deg,var(--_l1)),
        repeating-linear-gradient(-45deg,var(--_l1)),
        repeating-linear-gradient(  0deg,var(--_l2)),
        repeating-linear-gradient( 90deg,var(--_l2)),
        conic-gradient(from 135deg at 25% 75%,var(--_g)),
        conic-gradient(from 225deg at 25% 25%,var(--_g)),
        conic-gradient(from  45deg at 75% 75%,var(--_g)),
        conic-gradient(from -45deg at 75% 25%,var(--_g)),
        repeating-conic-gradient(var(--c3) 0 45deg,var(--c4) 0 90deg);
    background-size: var(--s) var(--s);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

.section-divider {
    width: 100vw;
    height: 1.5em;
    background-color: #B2653B;
    position: relative;
    left: 0;
    overflow: hidden;
    user-select: none;
    margin-top: 5em;
}

.section-divider-text {
    margin-right: 7em;
    font-weight: bold;
    color: white;
    margin-bottom: 3px;
}

/**************************
* Sidebar (the vertical text on the left)
**************************/
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    background-color: #181818;
    z-index: 100;
    transition: 0.5s;
    overflow-y: auto;
    overflow: hidden;
}

.sidebar-text {
    color: #2D2B2B;
    font-family: "Poppins";
    font-size: 10rem;
    user-select: none;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 0;
}

.section-bar {
    width: 33%;
    min-width: 632px;
    height: 63px;
    transform-origin: top left;
    background: #181818;
    position: relative;
    top: 3%;
    left: 14%;
    display: none;
}

.section-header {
    color: #faf6e6;
    font-family: "Poppins";
    font-size: 3.5em;
    position: absolute;
    user-select: none;
    white-space: nowrap;
    top: -90%;
    left: 5%;
}

img {
    user-select: none;
}


/**************************
* Donut (the thick concentric rings)
**************************/
.donut-container {
    position: absolute;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow: hidden;
}

.donut-ring {
    overflow: hidden;
}

/**************************
* Responsive Styles
**************************/
@media (max-width: 768px) {
    .donut-container svg {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 1780px) {
    .sidebar-text {
        margin-left: -14%;
    }
}
@media (max-width: 1650px) {
    .sidebar-text {
        margin-left: -17%;
    }
}
@media (max-width: 1573px) {
    .sidebar-text {
        margin-left: -23%;
    }
}

@media (max-width: 1560px) {
    .section-bar {
        display: block;
        margin-left: -9%;
    }

    .sidebar {
        display: none;
    }
}