/**************************
 * Loading Screen
 **************************/
.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #181818;
    z-index: 1000;
}

 /**************************
 * Transition Screen
 **************************/
.scanlines {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 3000;
    transition: opacity 1.2s cubic-bezier(0.77,0,0.175,1) 1s;
}
.scanlines:before {
    display: block;
    pointer-events: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    z-index: 2147483649;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0.75;
}
.scanlines:after {
    display: block;
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483648;
    background: linear-gradient(
        to bottom,
        transparent 50%,
        rgba(0, 0, 0, 0.3) 51%
    );
    background-size: 100% 4px;
    transition: opacity 1.2s cubic-bezier(0.77,0,0.175,1) 1s;
}

.transition-name {
    position: absolute;
    top: calc(10% + 10vh);
    left: 0;
    width: 100vw;
    text-align: center;
    font-size: 10em;
    font-weight: bold;
    color: #f9ead3;
    letter-spacing: 0.05em;
    z-index: 3000;
    font-family: Poppins, Inter, Arial, sans-serif;
    transition: opacity 1.2s cubic-bezier(0.77,0,0.175,1) 1s;
    text-shadow: 0 0 2px #fac16b, 0 0 2px #fac16b, 0 0 2px #fac16b;
    user-select: none;
}

.transition-bar {
    position: fixed;
    left: 0;
    top: 75%;
    height: 18vh;
    z-index: 2000;
    opacity: 1;
    pointer-events: none;
    box-shadow: 0 2px 24px 0 rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
    transition: width 1s cubic-bezier(0.77,0,0.175,1), opacity 1.2s cubic-bezier(0.77,0,0.175,1) 1s;
}

.transition-circle {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 70vw;
    background: #181818;
    border-radius: 50%;
    z-index: 1000;
    opacity: 1;
    pointer-events: none;
    box-shadow: 0 0 10em 5em rgb(246, 207, 169);
}

.transition-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 1.2s cubic-bezier(0.77,0,0.175,1) 1s;
}

/**************************
* Responsive Styles
**************************/
@media (max-height: 805px) {
    .transition-name {
        top: 10%;
    }
    
}

@media (max-height: 680px) {
    .transition-name {
        top: 30%;
    }   
}